<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sujian.lines">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.guide.GuideActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.user.UserActivity" />
        <activity android:name=".ui.wechat.WeChatActivity" />
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.gank.activity.GankActivity" />
        <activity android:name=".ui.like.LikeActivity" />
        <activity android:name=".ui.setting.SettingActivity" />
        <activity android:name=".ui.about.AboutMeActivity" />
        <activity android:name=".ui.zhihu.detail.ZhihuDetailActivity" />
        <activity android:name=".ui.zhihu.section.activity.SectionActivity" />
        <activity android:name=".ui.zhihu.comment.CommentActivity"></activity>
    </application>

</manifest>